### List comprehension.. 

- List comprehesion is a concise way to create lists in python.
- Instead of writing multiple lines with loops, you can create a new list in just one line" 

BASIC SYNTAX STRUCTURE 

core pattern;      [experession  for item in iterable]

[WHAT_TO_DO   for EACH_ITEM  in   COLLECTION]

    |                 |                 |
    
  Result          Loop Variable       Source Data

In [3]:
### Traditional loop vs list comp 

numbers = [1,2,3,4,5]
squared_list = []

for num in numbers:
    squared_list.append(num ** 2)
    
print(f"numbers_list : {numbers}")
    
print(f"squared_list : {squared_list}")

numbers_list : [1, 2, 3, 4, 5]
squared_list : [1, 4, 9, 16, 25]

In [4]:
# same using list comp. 

comprehesion_squres = [num ** 2 for num in numbers]
comprehesion_squres

[1, 4, 9, 16, 25]

In [5]:
type(comprehesion_squres)

list

In [6]:
# Double all numbers 

numbers = [1,2,3,4,5,6,7,8,9,10]

# [WHAT_TO_DO   for EACH_ITEM  in   COLLECTION]

doubled = [num*2 for num in numbers]
print(numbers)
print(doubled)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [7]:
## converting to string 
string_numbers = [str(num) for num in numbers]
string_numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [11]:
## get list of lenght of words 
words = ['Python', "list", 'comprehension', 'practice', 'session']

for word in words:
    print(len(word)) 
    
lenghts= [len(word) for word in words]

print(lenghts)
type(lenghts)

6
4
13
8
7
[6, 4, 13, 8, 7]

list

In [12]:
cubes = []

for i in range(1,6):
    cubes.append(i**3)
    
print(cubes)

[1, 8, 27, 64, 125]

In [13]:
comp_cube = [i**3 for i in range(1,6)]

In [14]:
comp_cube

[1, 8, 27, 64, 125]

In [ ]:
# convert sa list of string to uppercase 
names = ["ram", "shyam", "geeta"]
upper_names = []

for name in names:
    upper_names.append(name.upper())


upper_names

['RAM', 'SHYAM', 'GEETA']

In [ ]:
# [WHAT_TO_DO   for EACH_ITEM  in   COLLECTION]

upper_names = [name.upper() for name in names]

upper_names
type(upper_names)

list

# Filtering with  Conditions

Extended syntax:  [**expression**  for *item* in **interable**   if **condition** if **condition**]

- if num > 5 "Only numbers greatan than 5 get processed"
- if num > 5 and num < 15.

In [22]:
numbers = [1,2,3,4,5,6,7,8,9,10]

In [23]:
for num in numbers:
    if num % 2 == 0:
        print(f"The given {num} is even")

The given 2 is even
The given 4 is even
The given 6 is even
The given 8 is even
The given 10 is even

In [24]:
# [**expression**  for *item* in **interable**   if **condition** if **condition**]

even = [f"The given {num} is even" for num in numbers if num % 2 == 0]

In [25]:
even

['The given 2 is even',
 'The given 4 is even',
 'The given 6 is even',
 'The given 8 is even',
 'The given 10 is even']

In [26]:
# 
mixed_numbers = [-3, -1, 0, 2, 5, -8, 10]

for num in mixed_numbers:
    if num > 0:
        print(num)

2
5
10

In [29]:
# [**expression**  for *item* in **interable**   if **condition** if **condition**]

pos_numbers = [num for num in mixed_numbers if num > 0]
pos_numbers

[2, 5, 10]

In [30]:
# word with more than 3 letters 
words = ["AI", "Python", "ml", "data", "ds"]

long_words = [word for word in words if len(word) > 3]
long_words

['Python', 'data']

In [31]:
# Filter names starting with "A"

names = ['Amit', "Raj", "Anita", "Anand", "Bharath"]

starts_A = [name for name in names if name.startswith("A")]
starts_A

['Amit', 'Anita', 'Anand']

In [32]:
# [**expression**  for *item* in **interable**   if **condition** if **condition**]

numbers = range(1,21)
divisible = []
## if num/2 ad num/3

for x in numbers:
    if x % 2 == 0:
        if x % 3 == 0:
            divisible.append(x)
            
print(divisible)

[6, 12, 18]

In [33]:
# same using list comp 
divisibles = [x for x in numbers if x % 2 == 0 if x % 3 == 0]

In [36]:
divisibles

[6, 12, 18]

## level 1 = base 

[x for x in numbers]

# level 2 

[x*2 for x in numbers]

# level 3 added if conditions 

[x for x in numbers if condition  if condition  if condition]

# with if else

[exp1 if condition else exp2 for item in iterable]

In [39]:
## tradition loop 

numbers = [1,2,3,4,5,6,7,8,9,10]
result = []

for n in numbers: 
    if n % 2 == 0:
        result.append("Even")
    else:
        result.append("Odd")

In [40]:
result

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [41]:
# [exp1 if condition else exp2 for item in iterable]

numbers = [1,2,3,4,5,6,7,8,9,10]
result = ["Even" if n % 2 == 0 else "Odd" for n in numbers]
result

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [42]:
## list of numbners square if positive, cube if negative
nums = [-3, -2, -1, 0, 1, 2, 3]
result = []

for n in nums:
    if n > 0:
        result.append(n**2)
    else:
        result.append(n**3)
        
print(result)

[-27, -8, -1, 0, 1, 4, 9]

In [43]:
# [exp1 if condition else exp2 for item in iterable]

result = [n**2 if n > 0 else n**3 for n in nums]
result

[-27, -8, -1, 0, 1, 4, 9]