### What is a Loop?


A loop is a programming construct that allows you to execute a block of code repeatedly. Instead of writing the
same code multiple times, loops help you automate repetitive tasks.

### condition statements 

#### loops 

- print 100 numbers 
- check 50 email addressess 
- print "Hello" 10 times

In [ ]:
print("hello, student 1")
print("hello, student 2")
print("hello, student 3")
print("hello, student 4")
print("hello, student 5")
print("hello, student 6")
print("hello, student 7")
print("hello, student 8")
print("hello, student 9")
print("hello, student 10")

# this is tedious!

hello, student 1
hello, student 2
hello, student 3
hello, student 4
hello, student 5
hello, student 6
hello, student 7
hello, student 8
hello, student 9
hello, student 10

In [1]:
# with loop - code is cleaner

for i in range(1,10):
    print(f"Hello, studnet {i}")

Hello, studnet 1
Hello, studnet 2
Hello, studnet 3
Hello, studnet 4
Hello, studnet 5
Hello, studnet 6
Hello, studnet 7
Hello, studnet 8
Hello, studnet 9

# Type of loops in python 

- Python has two types of loops:

1. **for** loop - Iterate over a sequence (list, tuple, string, range, etc)

2. **while** loop = Repeat as long as condition is True

## 1. For loop 

Definition

A for loop iterates over a sequence of items. It executes a block of code for each item in the sequence.

In [ ]:
lis1 = [1,2,3,4,5,6,7]

In [ ]:
## Sytax for loop 

for variable in sequence:
    # code to execute for each item

How It Works

1. Takes the first item from the sequence

2. Assigns it to the variable

3. Executes the code block

4. Moves to the next item

5. Repeats until all items are processed

In [5]:
# basic examples 

# print numbers from 1 to 5 

for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
# list of fruits 


fruits = ["apple", "banana", "orange", "mango"]     
# fruits is list which is a sequence 

for fruit in fruits:
    # block of code to execute on each fruit
    print(f"I like {fruit}")

I like apple
I like banana
I like orange
I like mango

In [8]:
# loop on string 

word = "PYTHON"

for letter in word:
    print(letter)

P
Y
T
H
O
N

In [9]:
# for loop in range()

# range(stop), range(start, stop), range(start, stop, step)

for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
for i in range(2,6):
    print(i)

2
3
4
5

In [12]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [16]:
# countdown 

for i in range(5,0, -1):
    print(i)

5
4
3
2
1

In [22]:
# calculate sum of numbers 

# 1+ 2 + 3........ + 10

total = 0 

for number in range(1,11):
    # print(number)
    total += number     # same total = total + number
    
print(f"Sum of 1 to 10: {total}")

Sum of 1 to 10: 55

In [ ]:
list1 = [1,2,3,4,5,6]
string = "how are you"
range(1,11)

In [21]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [29]:
# print multiplication table 

number = 100 

for i in range(1,11):
    result = number * i
    print(f"{number} x {i} = {result}")

100 x 1 = 100
100 x 2 = 200
100 x 3 = 300
100 x 4 = 400
100 x 5 = 500
100 x 6 = 600
100 x 7 = 700
100 x 8 = 800
100 x 9 = 900
100 x 10 = 1000

In [31]:
## Count even and odd numbers from list 

numbers = [1,2,3,4,5,6,7,8,9,10,12,4,6,7,8,1,2,4]

even_count = 0 
odd_count = 0 

for number in numbers:
    if number % 2 == 0:
        even_count += 1 
    else:
        odd_count += 1
        
print(f"Even numbers : {even_count}")
print(f"odd numbers : {odd_count}")

Even numbers : 11
odd numbers : 7

In [38]:
## Find maximum number 

numbers = [23, 45, 12, 67, 34, 89, 56, 100, 102, 156]

max_number = numbers[0]
# print(max_number) 

for number in numbers:
    if number > max_number: 
        max_number = number
        
print(f"Maximum number : {max_number}")

Maximum number : 156

In [35]:
67 > 45

True

In [42]:
## Check if item Exists 

names = ["Alice", "Bob", "Charlie", "Diana"]
search_name = "Lohit"
found = False

for name in names:
    if name == search_name:
        found = True 
        break
    
if found:
    print(f"{search_name} found!")
else:
    print(f"{search_name} not found")

Lohit not found

In [48]:
# Calculate Average.        # loop will behave same for set, list, tuple, string
scores = (85, 90, 78, 92, 88)

total = 0 
for score in scores:
    total += score 

print(total)
print(len(scores))
average = total / len(scores)

print(f"Average score: {average}")

433
5
Average score: 86.6

In [50]:
# Iterating through dictionaries

student = {
    "name": "Alice",
    "age": 25,
    "grade": "A",
    "city": "Mumbai"    
}

In [56]:
student.keys()

dict_keys(['name', 'age', 'grade', 'city'])

In [57]:
student.values()

dict_values(['Alice', 25, 'A', 'Mumbai'])

In [62]:
for key in student:
    print(key)

name
age
grade
city

In [60]:
for value in student.values():
    print(value)

Alice
25
A
Mumbai

In [66]:
# iterate through key-value pairs 

for key, value in student.items():
    print(f"for this '{key}' : this is the '{value}'")

for this 'name' : this is the 'Alice'
for this 'age' : this is the '25'
for this 'grade' : this is the 'A'
for this 'city' : this is the 'Mumbai'

In [68]:
student.items()

dict_items([('name', 'Alice'), ('age', 25), ('grade', 'A'), ('city', 'Mumbai')])

In [69]:
key , value = ('name', 'Alice')

In [70]:
key

'name'

In [71]:
value

'Alice'

In [75]:
value, key =  ('age', 25)

In [76]:
key

25

In [77]:
value

'age'

### For loop 
runs numbers of time for the each element present in this sequence

sequcne = [1,2,3,4,5]
for i in squence:
    block of code

#### WHILE LOOP

A while loop repeats a block of code as long as a condition is True. It continues until the condition becomes
False.

In [ ]:
## Syntax 

while condition:    # True        
    # block of code to execute if the above condition is True
    # update condition (important!)

How It Works

1. Checks if condition is True

2. If True, executes code block

3. After execution, checks condition again

4. Repeats until condition becomes False

### Danger (infinite loop)

In [ ]:
## what not to do 

count = 0 
while count < 5:
    print(count)
    
    
## what to do
count = 0 
while count < 5:
    count += 1 #without update the output will be infinite so be carefull
    print(count)

1
2
3
4
5

In [11]:
count = 0 
while count <= 10:
    print(count)
    count = count + 1

0
1
2
3
4
5
6
7
8
9
10

## Example for while loop.


#### Simple counter

In [ ]:
count = 1 

while count <= 5:
    print(f"Count : {count}")
    count += 1

In [6]:
count = 6
count <= 5

False

In [20]:
## Print number in Reverse 

number = 10  # -1, -1, -1, -1 

while number >= 1:
    # indented block of code to execute until the above condition is true
    print(number)
    # number = number - 1
    number -= 1
    
print("Blast off!")

10
9
8
7
6
5
4
3
2
1
Blast off!

In [22]:
### Sum until Zero 

total = 0
number = 5 

while number > 0:
    total += number 
    print(f"Added {number}, Total: {total}") 
    number -= 1

Added 5, Total: 5
Added 4, Total: 9
Added 3, Total: 12
Added 2, Total: 14
Added 1, Total: 15

In [21]:
5 + 4 + 3 + 2 + 1

15

In [30]:
## Factorial Calculation 

number = 6
factorial = 1 
temp = number

while temp > 0:
    factorial *= temp 
    # temp = temp -1 
    temp -= 1 
    
print(f"factorial of {number} is {factorial}")

factorial of 6 is 720

In [ ]:
# Count digits in a number

number = 12345
digit_count = 0 

temp = number 

while temp > 0:
    temp = temp//10     # remove last digit
    digit_count += 1
    
print(f"{number} has {digit_count} digits")

12345 is temp number
12345 has 5 digits

In [36]:
12345//10   > 0

True

In [37]:
1234//10 > 0

True

In [38]:
123//10 > 0

True

In [40]:
1//10 > 0

False

In [47]:
### Reverse a number

string1 = 'Reverse a number'
string1[::-1]

'rebmun a esreveR'

In [67]:
number = 12345
reversed_number = 0

temp = number 

while temp > 0:
    last_digit = temp % 10
    reversed_number = (reversed_number * 10) + last_digit
    temp = temp // 10 
    
print(f"Original: {number}")
print(f"Reversed number: {reversed_number}")

Original: 12345
Reversed number: 54321

In [62]:
reversed_number = 0 
reversed_number = reversed_number*10 + 5
reversed_number

5

In [63]:
reversed_number = reversed_number*10 + 4
reversed_number

54

In [64]:
reversed_number = reversed_number*10 + 3
reversed_number

543

In [65]:
reversed_number = reversed_number*10 + 2
reversed_number

5432

In [66]:
reversed_number = reversed_number*10 + 1
reversed_number

54321

In [55]:
1234 % 10

4

In [56]:
1234 // 10

123

In [57]:
123 % 10

3

In [58]:
123 // 10

12

In [59]:
12 % 10

2

In [ ]:
rev = 5

In [51]:
12345//10

1234

In [49]:
1234 % 10

4

In [50]:
123 % 10

3

In [ ]:
reversed_number = 0 
reversed_number += 5

In [75]:
## Find Sum of Digits 
number = 12345 
sum_of_digits = 0 

temp = number 

while temp > 0:
    digit = temp % 10 
    sum_of_digits += digit 
    temp = temp//10 
print(f"Sum of digits of {number} is {sum_of_digits}")

Sum of digits of 12345 is 15

In [74]:
number = 0
digit = number % 10 
digit

0

#### Exit loop Immediately.


The break statement terminates the loop immediately, regardless of the condition

In [11]:
students = ["Asha", "Ravi", "Neha", "Arjun", "Priya", "Anil", "Pavan", "Avinash"]

for s in students:
    if s == "Arjun":
        print("Sudent found ", s)
    print("Checking ", s)

Checking  Asha
Checking  Ravi
Checking  Neha
Sudent found  Arjun
Checking  Arjun
Checking  Priya
Checking  Anil
Checking  Pavan
Checking  Avinash

In [12]:
students = ["Asha", "Ravi", "Neha", "Arjun", "Priya", "Anil", "Pavan", "Avinash"]

for s in students:
    if s == "Arjun":
        print("Sudent found ", s)
        break
    print("Checking ", s)

Checking  Asha
Checking  Ravi
Checking  Neha
Sudent found  Arjun

In [15]:
for i in range(1,10):
    if i == 5:
        print(f"Reached number {i} exit the loop")
        break
    print(i)

1
2
3
4
Reached number 5 exit the loop

In [16]:
## Stop when sepecific number is found 


numbers = [1,2,3,4,5,6,7,8,9,10]

for number in numbers:
    if number == 6:
        print("Found 6 stopping....")
        break
    print(number)

1
2
3
4
5
Found 6 stopping....

In [17]:
count = 1 

while True:
    print(count)
    count += 1  
    
    if count > 5:
        print("Reached 5, breaking out!")
        break

1
2
3
4
5
Reached 5, breaking out!

### continue - Skip current iteration 

The continue statement skips the rest of the code in the current iteration and move to the next iteration

In [25]:
# skip even numbers 

for num in range(1,11):
    if num % 2 == 0:
        continue # skill even numbers 
    print(num)

1
3
5
7
9

In [29]:
for num in range(1,11):
    if num == 6:
        continue  
    print(num)

1
2
3
4
5
7
8
9
10

In [22]:
4 % 2 == 0

True

In [30]:
students = ["Asha", "Ravi", "Neha", "Arjun", "Priya", "Anil", "Pavan", "Avinash"]

for s in students:
    if s == "Arjun":
        continue
    print("Checking ", s)

Checking  Asha
Checking  Ravi
Checking  Neha
Checking  Priya
Checking  Anil
Checking  Pavan
Checking  Avinash

### Pass "DO nothing"

The pass statement does nothing. It's used as a placeholder when syntax requires a statement but you dont wnt to execute any code.

In [34]:
for i in range(5):
    pass

In [35]:
for i in range(5):
    print(i + 10)

10
11
12
13
14

### Nested Loops -

loop in loop

In [ ]:
## Multiplication table 2, 3, 4

for num in range(2,6):     # 2, 3, 4, 5
    print(f"\nTable of {num}")
    print()
    for i in range(1,11):
        print(f"{num} X {i} = {num*i}")
        
# 2 inner loop 10 times 
# 3 inner loop 10 times

Table of 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

Table of 3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

Table of 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

Table of 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
2 (1,2,3,4,5,6,7,8,9,10)


3 (1,2,3,4,5,6,7,8,9,10)

4 (1,2,3,4,5,6,7,8,9,10)

In [40]:
n = 5
for num in range(1, 11):
    print(n, "x", num ,"=", n*num)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
### print patterns 

# pattern 

for i in range(1,6):        # 1, 2, 3, 4, 5
    for j in range(i):      # range(1) = 1 iteration
        print("*", end=" ")
    print()
        
# 1     
# range(1) = 1 iteration

# 2
# range(2) = 2 iteration

# 3 
# range(3)

*
* *
* * *
* * * *
* * * * *

In [61]:
for i in range(5):
    print("*", end=" ")

* * * * *

In [ ]:
# [outer loop iteration]
    # in loop start iteration

In [72]:
## pattern 2. square 

for i in range(5):
    for j in range(5):
        print("*", end= " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [85]:
for i in range(1, 6):
    for j in range(1,i+1):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [82]:
for i in range(1):
    print(i)

0

In [90]:
## find all pairs that sum to 10 

numbers = [2,4,6,8,10,4,2]

for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == 10:
            print(f"{numbers[i]} + {numbers[j]} = 10")

2 + 8 = 10
4 + 6 = 10
6 + 4 = 10
8 + 2 = 10

In [88]:
numbers = [2,4,6,8,10]

for i in range(len(numbers)):
    print(i)

0
1
2
3
4