### Python range()

Why do need loop? 

In programming, we often need to repeat tasks â€” like printing every item in a list, or
processing each number in a dataset.

In [ ]:
print("apple")
print("banana")
print('cherry')

# what if you 100s

apple
banana
cherry

In [1]:
fruits = ["apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry']

In [ ]:
print(fruits[0])        # repeating task youll use loops 
print(fruits[1])
print(fruits[2])
print(fruits[3])
print(fruits[4])

apple
banana
cherry
apple
banana

In [3]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

In [ ]:
## basic syntax for looping 

for variable in sequence:
    # code block
    
# vairable is temporary name for each item 
# sequence - the data structure you're looping over (string, list, tuple, set, etc)
# The indented code runs once for each item

In [ ]:
# sequence data types 

# string 
# list 
# tuple 
# set 
# Dict 
# range()

In [4]:
fruits = ["apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry',"apple","banana",'cherry']
fruits

['apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry',
 'apple',
 'banana',
 'cherry']

In [9]:
for something in fruits:        # fruits is our list, fruit is temp variable
    print(something.upper() + " this is may fav fruit")

APPLE this is may fav fruit
BANANA this is may fav fruit
CHERRY this is may fav fruit
APPLE this is may fav fruit
BANANA this is may fav fruit
CHERRY this is may fav fruit
APPLE this is may fav fruit
BANANA this is may fav fruit
CHERRY this is may fav fruit
APPLE this is may fav fruit
BANANA this is may fav fruit
CHERRY this is may fav fruit
APPLE this is may fav fruit
BANANA this is may fav fruit
CHERRY this is may fav fruit

list of books

for book in books:
    # your code to perform of the book

list of cars:
for car in cars:
    # do something

list of bikes:

for bike in bikes:      #[bike1, bike2, bike3, bike4, .......... bike100]
    # do something with bike

In [15]:
# looping through a tuple 

numbers = (10, 20, 30)

print("step 1")
print("step 2")

for n in numbers:    
    print(f"this is the number {n}")
    print(f"lets add 10 to each: {n*10}")
    
    
print("step 3")

step 1
step 2
this is the number 10
lets add 10 to each: 100
this is the number 20
lets add 10 to each: 200
this is the number 30
lets add 10 to each: 300
step 3

In [19]:
## looping through a string 

for ch in "python":
    print(ch)

p
y
t
h
o
n

## range() 
- Represents an immutable sequence of numbers, typically used for looping a specific number of time in for loops. 
- It's memory - efficient because it doesn't generate all the numbers at once, only when needed(it's generator). 
- range(stop), range(start, stop) or range(start, stop, step)

### common operation on range:
- len(), membership testing (in, not in), indexing, slicing.

In [21]:
range(10)

range(0, 10)

In [22]:
list1 = [0,1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(10):     # 1, 2, 3
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# ways to create range object 

# - range(stop), range(start, stop) or range(start, stop, step)

In [ ]:
### creation and iteration; 

# creating range objects and using them in for loops 

# simple range (0 upto 5, but not including,5)

# range(stop)

In [ ]:
# range(stop)- default itll start with 0- end at given stop
range(5)

range(0, 5)

In [25]:
for i in range(5):
    print(f"- iteration {i}")

- iteration 0
- iteration 1
- iteration 2
- iteration 3
- iteration 4

In [30]:
# range(start, stop)
# batch IDs 101 to 105 

batch_ids = range(101, 106)

for batch_id in batch_ids:
    print(batch_id)

101
102
103
104
105

In [ ]:
# range(start, stop, step)

# even numbers = 0 - 8 

even_numbers = range(0,11,2)

for num in even_numbers:
    print(f" even number {num}")

 even number 0
 even number 2
 even number 4
 even number 6
 even number 8
 even number 10

In [37]:
even_numbers = range(0,12,2)

for num in even_numbers:
    print(f" even number {num}")

 even number 0
 even number 2
 even number 4
 even number 6
 even number 8
 even number 10

In [38]:
odd_numbers = range(1, 10, 2)

for num in odd_numbers:
    print(f" odd numbers - {num}")

 odd numbers - 1
 odd numbers - 3
 odd numbers - 5
 odd numbers - 7
 odd numbers - 9

In [40]:
countdown = range(5, 0, -1)
# 0,1,2,3,4,5
for i in countdown:
    print(i)

5
4
3
2
1

In [58]:
course_list = ["DS", "DE", "ADO"]
for i in range(len(course_list)):
    print(f"{i} : {course_list[i]}")

0 : DS
1 : DE
2 : ADO

In [54]:
course_list = ["DS", "DE", "ADO"]
print(f'len of course list is {len(course_list)}')
print()
for i in range(len(course_list)):     # len(course_list) = 12
    print(i)
    
print()
print()
    
for i in course_list:
    print(i)

len of course list is 3

0
1
2


DS
DE
ADO

In [56]:
for i in course_list:
    print(f"index {i}")

index DS
index DE
index ADO

In [44]:
len(course_list)

12

In [61]:
course_list = ["DS", "DE", "ADO"]
for course in course_list:
  index_item = course_list.index(course)
  print(f'Index {index_item}: {course}')

Index 0: DS
Index 1: DE
Index 2: ADO

In [ ]:
course_list = ["DS", "DE", "ADO"]
for i in range(len(course_list)):
    print("index", i, ":", course_list[i]) # f" "

index 0 : DS
index 1 : DE
index 2 : ADO

 - Expected output
 - Index 0: DS
 - Index 1: DE
 - Index 2: ADO

In [ ]:
index 0: ds 
index 1 : de 
index 2 : ado

In [57]:
for i in range(len(course_list)):
   for course in course_list:
       print(f' Index {i} : {course}')

 Index 0 : DS
 Index 0 : DE
 Index 0 : ADO
 Index 1 : DS
 Index 1 : DE
 Index 1 : ADO
 Index 2 : DS
 Index 2 : DE
 Index 2 : ADO

In [73]:
course_list = ["DS", "DE", "ADO"]

for i in range(len(course_list)):
    print(f"- INDEX {i} : {course_list[i]}")

- INDEX 0 : DS
- INDEX 1 : DE
- INDEX 2 : ADO

In [66]:
course_list[0]

'DS'

In [74]:
## len(), membership (in and not in), indexing, slicing

In [75]:
batch_ids = range(101, 106)
numbers = range(0, 20, 3)

In [76]:
for i in numbers:
    print(i)

0
3
6
9
12
15
18

In [78]:
numbers_batches = len(batch_ids)
numbers_batches

5

In [83]:
# membership (in) 103

batch_ids = range(101, 106)

is_103_present = 103 in batch_ids 
type(is_103_present)
is_103_present

True

In [84]:
is_106_present = 106 in batch_ids 
type(is_106_present)
is_106_present

False

In [85]:
is_103_present = 103 not in batch_ids 
type(is_103_present)
is_103_present

False

In [86]:
is_106_present = 106 not in batch_ids 
type(is_106_present)
is_106_present

True

In [87]:
## indexing get the first element of batch_ids 

first_element = batch_ids[0]
first_element

101

In [88]:
batch_ids[1]

102

In [89]:
batch_ids[2]

103

In [90]:
batch_ids

range(101, 106)

In [100]:
batch_slice = batch_ids[1:4]
tuple(batch_slice)
# batch_slice

(102, 103, 104)

In [101]:
batch_slice

range(102, 105)

In [102]:
for i in batch_slice:
    print(i)

102
103
104

In [103]:
tuple(batch_slice)

(102, 103, 104)

In [105]:
list(batch_slice)

[102, 103, 104]

In [110]:
import sys 

r = range(100000)
r

range(0, 100000)

In [108]:
l = list(range(100000))

In [109]:
l

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [ ]:
print(sys.getsizeof(r))     # size of range with same 100000 numbers

48

In [112]:
print(sys.getsizeof(l))     # size of list with 100000 numbers

800056