### 1. list

Explanation: Lists are mutable (changeable), ordered sequences of items. They are defined using square brackets [], with items separated by commas. Lists can contain items of different data types, making them very versatile.

Datatypes

- int (whole)
- float    (decimal numbers)

### Sequential data types
- string    (chars)
- List [age, height, name]           # you can store multiple values in single variable

In [ ]:
age = 28
height = 1.5 
name = "Kiran"

In [1]:
fruit1 = "apple"
fruit2 = "banana"
fruit3 = "mango"

In [5]:
fruit3

'mango'

In [ ]:
fruits = ["apple","banana", "mango"]

list = []       # mutable (changable)
tuple = ()
set = {}
dict = {key: value}

In [8]:
fruits[2]

'mango'

In [ ]:
# creating list' 

list1 = ["name", "age", "gender", 1, 10, [list1]]        # square brackets 

# it can contain int, float, string, list

In [ ]:
# upper(), lower(), capitalize,

#### Indexing/ slicing [start: stop: step]

In [6]:
course_list = ["Data Science.pdf", "Data Engineering.pdf", "Azure DevOps.csv", "Python Basics.excl", "SQL Fundamentals.docx"]
student_counts = [350, 420, 380, 500, 450]

In [ ]:
# access the first course   # indexing

first_course = course_list[0]
print(first_course)

Data Science

In [ ]:
# access last course        # indexing

last_course = course_list[-1]
last_course

'SQL Fundamentals'

In [15]:
# get first 3 course        # using slicing
course_list[:4]            # stop index is explicit (give one count lesser)
# [start (implicite) : stop (explicite)]

['Data Science', 'Data Engineering', 'Azure DevOps', 'Python Basics']

In [ ]:
["Data Science"(0), "Data Engineering"(1), "Azure DevOps"(2), "Python Basics"(3), "SQL Fundamentals"(4)]

['Data Science',
 'Data Engineering',
 'Azure DevOps',
 'Python Basics',
 'SQL Fundamentals']

In [ ]:
student_counts = [350, 420, 380, 500, 450]

# output [420, 380]
student_counts[1:3]

[420, 380]

In [20]:
student_counts[3:1:-1]

[500, 380]

In [21]:
student_counts[3:]

[500, 450]

In [17]:
type(student_counts)

list

In [ ]:
# to get alternative course name
course_list = ["Data Science", "Data Engineering", "Azure DevOps", "Python Basics", "SQL Fundamentals"]
course_list[::2]

['Data Science', 'Azure DevOps', 'SQL Fundamentals']

In [24]:
# to get alternative course name starting from data engg
course_list[1::2]

['Data Engineering', 'Python Basics']

In [26]:
# 7. Create a list with mixed data types
batch_info = ["DE101", "Data Engineering", 45, True]

In [27]:
batch_info[1]

'Data Engineering'

In [28]:
batch_info[-2:]

[45, True]

## list.append(item)

Explanation: Adds a single item to the end of the list. Modifies the list in-place.

In [2]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
new_enrollments = [15, 20, 10]

In [32]:
example = "Hi how are you"
output = example.upper()
print(example)
print(output)

Hi how are you
HI HOW ARE YOU

In [33]:
# 1. Add a new course to the list

course_list

['Data Science', 'Data Engineering', 'Azure DevOps']

In [6]:
course_list.append("Cloud Computing")

In [7]:
course_list

['Data Science',
 'Data Engineering',
 'Azure DevOps',
 'Cloud Computing',
 'Cloud Computing',
 'Cloud Computing']

In [36]:
course_list.append("Machine learning")

In [37]:
course_list

['Data Science',
 'Data Engineering',
 'Azure DevOps',
 'Cloud Computing',
 'Machine learning']

In [38]:
course_list[-2:]

['Cloud Computing', 'Machine learning']

In [52]:
new_enrollments = [15, 20, 10]
new_enrollments

[15, 20, 10]

In [53]:
new_enrollments.append(18)

In [54]:
new_enrollments

[15, 20, 10, 18]

In [111]:
## nested list is list inside list

# 4. Append a list as a single item (nested list)
meta_list = [1, 2]

In [114]:
meta_list

[1, 2, [3, 4]]

In [113]:
meta_list.append([3,4])

In [74]:
meta_list[2][0]

3

In [66]:
new_list = meta_list[-1]
print(new_list)

[3, 4]

In [68]:
new_list[0]

3

In [64]:
meta_list[2]

[3, 4]

In [ ]:
meta_list = [1, 2, [3, 4, [5, 6, 7]]]

# output = 7 using -ve indexing

In [107]:
meta_list[0]
meta_list[1]
meta_list[2]
meta_list[3]

IndexError: list index out of range

In [84]:
# start with an empty list and append items
empty_list = []
print(empty_list)
empty_list.append(5)
print(empty_list)
empty_list.append(4)
print(empty_list)
empty_list.append(3)
print(empty_list)
empty_list.append(2)
print(empty_list)
empty_list.append(1)
print(empty_list)

[]
[5]
[5, 4]
[5, 4, 3]
[5, 4, 3, 2]
[5, 4, 3, 2, 1]

In [96]:
# append result of a calculation

values = [10, 20]

In [86]:
values

[10, 20]

In [105]:
values.append(values[0] + values[1])

In [102]:
values

[10, 20, 30, 30]

In [103]:
values.append(values[0] - values[2])

In [106]:
values

[10, 20, 30, 30, -20, 30]

### c) list.extend(iterable)

Explanation: Adds all items from an iterable (like another list, tuple, or string) to the end of the current list. Modifies the list in-place. Differs from append which adds the iterable as a single element.

In [ ]:
data_science_courses = ["DS Intro", "Python for DS"]
data_eng_courses = ["DE Intro", "SQL for DE", "ADF"]
new_tools = ("Docker", "Kubernetes")

age = 12
km = 25.4
string = "multiple chars"

In [ ]:
single_element = "DS Intro"     
data_science_courses = ["DS Intro", "Python for DS"]

In [120]:
data_science_courses = ["DS Intro", "Python for DS"]
data_eng_courses = ["DE Intro", "SQL for DE", "ADF"]
new_tools = ("Docker", "Kubernetes")

In [121]:
# Extend DS course with DE courses

# we used append and added entire list as single element
print(data_science_courses)
data_science_courses.append(data_eng_courses)
print(data_science_courses)

['DS Intro', 'Python for DS']
['DS Intro', 'Python for DS', ['DE Intro', 'SQL for DE', 'ADF']]

In [122]:
data_science_courses[2]

['DE Intro', 'SQL for DE', 'ADF']

In [123]:
data_science_courses = ["DS Intro", "Python for DS"]
data_eng_courses = ["DE Intro", "SQL for DE", "ADF"]
new_tools = ("Docker", "Kubernetes")

In [124]:
# trying extend

print(data_science_courses)
data_science_courses.extend(data_eng_courses)
print(data_science_courses)

['DS Intro', 'Python for DS']
['DS Intro', 'Python for DS', 'DE Intro', 'SQL for DE', 'ADF']

In [125]:
data_science_courses[2]

'DE Intro'

In [127]:
new_tools = ("Docker", "Kubernetes")        # this is also a iterable tuple
new_tools

('Docker', 'Kubernetes')

In [135]:
# 2. Extend with a tuple of new tools
all_tools = ["Python", "SQL"]
all_tools.append(new_tools)
all_tools[3]

IndexError: list index out of range

In [133]:
all_tools = ["Python", "SQL"]
all_tools.extend(new_tools)
all_tools[3]

'Kubernetes'

In [138]:
# string is also an iterable 

letters = ['a', 'b']
letters.append("cde")
letters

['a', 'b', 'cde']

In [139]:
letters = ['a', 'b']
letters.extend("cde")
letters

['a', 'b', 'c', 'd', 'e']

### d) list.insert(index, item)

Explanation: Inserts an item at a specific index. Existing items from that index onwards are shifted to the right. Modifies the list in-place.

In [166]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
priority_tasks = ["Deploy App", "Monitor Logs"]

In [167]:
course_list

['Data Science', 'Data Engineering', 'Azure DevOps']

In [168]:
course_list.insert(2,"Python basic")

In [169]:
course_list

['Data Science', 'Data Engineering', 'Python basic', 'Azure DevOps']

In [170]:
course_list.insert(1, "sql")

In [171]:
course_list

['Data Science', 'sql', 'Data Engineering', 'Python basic', 'Azure DevOps']

### 3 ways to add elements to list

1. append()
2. extend()
3. insert(index, element)

## Iterables 
Instead of writing same code multiple times, python lets you loop over:
- lists 
- strings 
- tuples
- dictionaries
- ranges

In [16]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
# for is loop. running on every element present in this iterable
course_list

upper_case_list = []

for i in course_list:
    upper_word = i.upper()
    print(upper_word)
    upper_case_list.append(upper_word)

upper_case_list

DATA SCIENCE
DATA ENGINEERING
AZURE DEVOPS

['DATA SCIENCE', 'DATA ENGINEERING', 'AZURE DEVOPS']

In [ ]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]

add_python_list = []
for i in course_list:
    added_python = i + " and python"
    add_python_list.append(added_python)
    # print(added_python)

Data Science and python
Data Engineering and python
Azure DevOps and python

In [22]:
string1 = "Hello world"
list_example =  ["Data Science", "Data Engineering", "Azure DevOps"]
tuple_example = (1,2,3,4,5)

In [25]:
for i in tuple_example:
    print(i)

1
2
3
4
5

In [21]:
add_python_list

['Data Science and python',
 'Data Engineering and python',
 'Azure DevOps and python']

In [9]:
print("Hi hello world")
print("Hi hello world")
print("Hi hello world")
print("Hi hello world")
print("Hi hello world")
print("Hi hello world")

Hi hello world
Hi hello world
Hi hello world
Hi hello world
Hi hello world
Hi hello world

In [10]:
for i in range(5):
    print("Hi hello world")

Hi hello world
Hi hello world
Hi hello world
Hi hello world
Hi hello world

### ways to remove elements from the list

### list.remove(item)

- This will remove the first occurence of the specified item from the list. 
- Raises a ValueError if the item is not found. 
- Modifies the list in-place

In [37]:
course_list = ["Python Basics", "Data Science","Cloud Intro","Data Engineering", "Data Science"]
tools = ["Python", "SQL", "Git", "SQL"]

In [38]:
len(course_list)
len(tools)

4

In [39]:
print(course_list)


print("removing Cloud Intro from the list")
course_list.remove("Cloud Intro")

print(course_list)

['Python Basics', 'Data Science', 'Cloud Intro', 'Data Engineering', 'Data Science']
removing Cloud Intro from the list
['Python Basics', 'Data Science', 'Data Engineering', 'Data Science']

In [40]:
course_list

['Python Basics', 'Data Science', 'Data Engineering', 'Data Science']

In [ ]:
# to remove first occurence of data science from course list

course_list.remove('Data Science')

In [42]:
course_list

['Python Basics', 'Data Engineering', 'Data Science']

In [43]:
tools = ["Python", "SQL", "Git", "SQL"]

tools.remove("SQL")
print(tools)

['Python', 'Git', 'SQL']

In [44]:
tools.remove("SQL")

In [45]:
print(tools)

['Python', 'Git']

In [46]:
student_counts = [350, 420, 380, 420]
student_counts.remove(420)

In [48]:
student_counts.remove(100)

ValueError: list.remove(x): x not in list

In [49]:
# if you want to know what all methods you can perform on string using help() fucntions

help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [107]:
# to check all methods which you can preform on list usign help()

help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### list.pop([index])

- Removes and returns the item at the given index. 
- If index is omitted, it removes and returns the last item.
- Raises an IndexError if the list is empty or the index is out of range 
- Modifies the list in-place.

In [53]:
course_list = ["Python Basics", "Data Science", "Data Engineering"]
tasks = ["Review Code", "Update Docs", "Deploy"]

In [54]:
# pop the list item (default index -1)

last_course = course_list.pop()
print(f"Popped last course: '{last_course}' from the course list")

Popped last course: 'Data Engineering' from the course list

In [ ]:
print(last_course)

In [56]:
# pop the item at index 0 

first_course = course_list.pop(0)
print(f"Popped first course: '{first_course}' from the course list")

Popped first course: 'Python Basics' from the course list

In [58]:
tasks = ["Review Code", "Update Docs", "Deploy"]

last_task = tasks.pop(1)
last_task

'Update Docs'

In [59]:
# pop using negative indexing 

numbers = [10,20,30,40,50]

second_last = numbers.pop(-2)
second_last

40

In [60]:
tasks = ["Review Code", "Update Docs", "Deploy"]
first_task = tasks.pop(0)
first_task

'Review Code'

In [62]:
# out of range example

tasks = ["Review Code", "Update Docs", "Deploy"]
first_task = tasks.pop(5)
first_task

IndexError: pop index out of range

In [63]:
tasks = ["Review Code", "Update Docs", "Deploy"]
first_task = tasks.pop(-4)
first_task

IndexError: pop index out of range

In [65]:
empty_list = []
remove_item = empty_list.pop(1)

IndexError: pop from empty list

### list.sort(key = None, reverse = False)

- Sorts the items of the list in-place. 

- key: A fucntion to be called on each element before making comparisons (eg. key = str.lower for case-insentive sort). 

- reverse = Ture: Sorts in descending order.

- Items must be comparable. (e.g. all numbers or all strings.)

In [66]:
course_list = ["Data Engineering", "Azure DevOps", "Data Science", "Python Basics"]
student_counts = [350, 420, 380, 500, 450]
mixed_case_courses = ["azure DevOps", "Python basics", "Data science"]

In [ ]:
# sort course list alphabetically (in - place)
course_list = ["Data Engineering", "Azure DevOps", "Data Science", "Python Basics"]
print(f"course list before sorting {course_list}")
course_list.sort()
print(f"course list after sorting {course_list}")

course list before sorting ['Data Engineering', 'Azure DevOps', 'Data Science', 'Python Basics']
course list after sorting ['Azure DevOps', 'Data Engineering', 'Data Science', 'Python Basics']

In [ ]:
# modifies in-place 

course_list

['Azure DevOps', 'Data Engineering', 'Data Science', 'Python Basics']

In [69]:
student_counts = [350, 420, 380, 500, 450]


print(f"Students count list before sorting {student_counts}")

student_counts.sort()

print(f"Students count list after sorting {student_counts}")

Students count list before sorting [350, 420, 380, 500, 450]
Students count list after sorting [350, 380, 420, 450, 500]

In [70]:
# sort student count in descending order 

student_counts.sort(reverse=True)

In [71]:
student_counts

[500, 450, 420, 380, 350]

In [78]:
mixed_case_courses = ["azure DevOps",  "Python basics", "ball", "Data science", ]

mixed_case_courses.sort(key = str.lower)
print(mixed_case_courses)

['azure DevOps', 'ball', 'Data science', 'Python basics']

In [80]:
# sort list based on lenght of string

courses = ["SQL", "Python", "Azure DevOps", "Git"]
print(courses)
courses.sort(key = len, reverse=True)
print(courses)

['SQL', 'Python', 'Azure DevOps', 'Git']
['Azure DevOps', 'Python', 'SQL', 'Git']

In [81]:
# sort list of lists based on the first element

batches = [[102, 'DE'], [101, 'DS'], [103, 'ADO']]
print(batches)
batches.sort()      # Default sorts by first element
print(batches)

[[102, 'DE'], [101, 'DS'], [103, 'ADO']]
[[101, 'DS'], [102, 'DE'], [103, 'ADO']]

In [ ]:
# sort list of lists based on the second element

batches = [[102, 'DE', "C"], [101, 'DS', "B"], [103, 'ADO', "A"]]
print(batches)
batches.sort(key = lambda x : x[1])      # to take 2nd element
print(batches)

[[102, 'DE'], [101, 'DS'], [103, 'ADO']]
[[103, 'ADO'], [102, 'DE'], [101, 'DS']]

In [91]:
# sort list of lists based on the third element

batches = [[102, 'DE', "C"], [101, 'DS', "B"], [103, 'ADO', "A"]]
print(batches)
batches.sort(key = lambda x : x[2])      # to take 3rd element
print(batches)

[[102, 'DE', 'C'], [101, 'DS', 'B'], [103, 'ADO', 'A']]
[[103, 'ADO', 'A'], [101, 'DS', 'B'], [102, 'DE', 'C']]

In [84]:
already_sorted = [10,20,30]
already_sorted.sort(reverse=True)

In [85]:
already_sorted

[30, 20, 10]

### len(list)

returns the numnber of items in the list... (same built-in fucntion as used for strings)

course_

In [86]:
course_list

['Azure DevOps', 'Data Engineering', 'Data Science', 'Python Basics']

In [87]:
len(course_list)

4

### list.clear()

- Removes all items from the list, making it empty. 
- Modifies the list in - place.

In [ ]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
tasks_to_clear = ["Task A", "Task B"]

In [94]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
tasks_to_clear = ["Task A", "Task B"]

to convert markdown to python - press y 

to convert python to markdown - press m

In [95]:
course_list

['Data Science', 'Data Engineering', 'Azure DevOps']

In [96]:
course_list.clear()

In [97]:
course_list

[]

In [98]:
tasks_to_clear

['Task A', 'Task B']

In [99]:
tasks_to_clear.clear()

In [100]:
tasks_to_clear

[]

### Membership testing (in, not in)

- Checks if an item exists within the list.
- Returns True or False.

In [ ]:
course_list = ["Data Science", "Data Engineering", "Azure DevOps"]
tech_skills = ["Python", "SQL", "Git", "CI/CD"]

In [103]:
# check if "Data Science" is in the course list 

is_ds_offered = "Data Science" in course_list

is_ds_offered

True

In [104]:
# check if "Machine learning" is in the course list 
is_ml_offered = "Machine learning" in course_list

is_ml_offered

False

In [105]:
tech_skills = ["Python", "SQL", "Git", "CI/CD"]

"Python" not in course_list

True

In [106]:
"Python" not in tech_skills

False