ðŸŽ¯ Set Types
Set types represent unordered collections of unique items. They are useful for membership testing, removing duplicates, and performing mathematical set operations (like union, intersection, difference).

1. set
Explanation: Sets are mutable (changeable), unordered collections of unique, hashable items. Hashable means the items must be immutable (like numbers, strings, tuples, but not lists or other sets). Sets are defined using curly braces {} or the set() constructor. An empty set must be created with set(), as {} creates an empty dictionary.

In [ ]:
list = 0,1,2,3,4,5(indexing)
tuple(order)    = 0,1,2,3,4,5(indexing)

In [ ]:
# key chars of set 

# unique ites only (no duplicates)

list = []
tuple1 = ()

In [3]:
number = {1, 2, 3, 2, 1, 4}

In [4]:
number

{1, 2, 3, 4}

In [6]:
type(number)

set

In [7]:
# Unordered 

my_set = {5,1,2,5,6,7,8}

In [8]:
print(my_set)

{1, 2, 5, 6, 7, 8}

In [ ]:
my_set[0]       # you cannot access itesm by index

TypeError: 'set' object is not subscriptable

In [10]:
# Mutable (you can change it)

fruits = {"apple", "banana"}
fruits.add("orange")
fruits.remove("banana")
print(fruits)

{'apple', 'orange'}

In [11]:
# can only contain immutable(unchangeable) items 

# valid items in a set 

valid_set = {1, 2.5, "hello", True, (1,2)}
print(valid_set)

{1, 2.5, (1, 2), 'hello'}

In [12]:
# invalid = list are mutable (changable)

invalid_set = {1, 2, [3,4]}

TypeError: unhashable type: 'list'

In [ ]:
## Creating sets

In [17]:
my_list = []
my_tuple = ()
my_set = {}

print(my_list)
print(type(my_list))

print(my_tuple)
print(type(my_tuple))

print(my_set)
print(type(my_set))

[]
<class 'list'>
()
<class 'tuple'>
{}
<class 'dict'>

In [2]:
# using set() constuctor

numbers = set([1,2,3,4,5])
type(numbers)

set

In [3]:
# creat set from a string

letters = set("hello")
print(letters)
print(type(letters))

{'h', 'l', 'o', 'e'}
<class 'set'>

In [6]:
# changed list to tuple
numbers = set((1,2,3,4,5))
type(numbers)
print(numbers)

{1, 2, 3, 4, 5}

In [8]:
my_set = set()
type(my_set)

set

### Basic set operations 

Adding Items 

using add() - Add one item

In [9]:
fruits = {"apple", "banana"}
fruits.add("orage")
fruits

{'apple', 'banana', 'orage'}

In [ ]:
fruits.add("apple")     # adding dulicate does nothing

### update()

- to add multiple items

In [17]:
fruits = {"apple", "banana"}


# adding multuple itesm from a list 

fruits.update(["mango", 'grape', 'kiwi'])

In [18]:
fruits.update({"pear"})
fruits.update(("plum",))
print(fruits)

{'apple', 'banana', 'mango', 'pear', 'plum', 'kiwi', 'grape'}

### Removing items 

1. remove()
- Raises error if item not found

In [20]:
colors = {"red", "green", "blue", "yellow"}
print(colors)
colors.remove("blue")
print(colors)

{'blue', 'green', 'yellow', 'red'}
{'green', 'yellow', 'red'}

In [ ]:
# this will cause an error
colors.remove("purple")

KeyError: 'purple'

### discard()

- Does not raise error

In [23]:
colors = {"red", "green", "blue", "yellow"}
print(colors)
colors.discard("green")
print(colors)

{'blue', 'green', 'yellow', 'red'}
{'blue', 'yellow', 'red'}

In [27]:
# this will cause an error
colors.discard("purple")
colors

{'blue', 'red', 'yellow'}

### pop() 
- Remove random item

In [29]:
numbers = {1,2,3,4,5}
removed = numbers.pop()


print(f"Removed: {removed}")
print(f"Remaining: {numbers}")

Removed: 1
Remaining: {2, 3, 4, 5}

In [30]:
one_more_popped = numbers.pop()
one_more_popped

2

### clear()

- Remove all items

In [31]:
fruits

{'apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum'}

In [32]:
fruits.clear()
print(fruits)

set()

In [33]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### check if item exists

In [38]:
fruits = {'apple', 'banana', 'kiwi'}
fruits

{'apple', 'banana', 'kiwi'}

In [39]:
# check if item is in the list 

print("apple" in fruits)
print("grape" in fruits)

True
False

In [40]:
# check if item is NOT in the list 

print("apple" not in fruits)
print("grape" not in fruits)

False
True

In [43]:
## getting set size 

numbers = {1,2,3,4,5}
numbers

{1, 2, 3, 4, 5}

In [44]:
len(numbers)

5

In [45]:
numbers = {1,2,3,1,2,3,4,4,5}
len(numbers)

5

In [46]:
# looping through sets 

fruits_list = ['apple', 'banana', 'grape', 'kiwi', 'mango', 'pear', 'plum']

In [47]:
for fruit in fruits_list:
    print(fruit)

apple
banana
grape
kiwi
mango
pear
plum

### Mathematical set operations
 set in python supprt mathematical operations just like in mathematics.

#### Union - combine two sets (all unique items)

symbol : |

method = union()

Return all unique items from both sets.

In [48]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

In [49]:
# using | operator
result = set_a | set_b
print(result)

{1, 2, 3, 4, 5, 6}

In [50]:
# using union() method

result = set_a.union(set_b)
print(result)

{1, 2, 3, 4, 5, 6}

In [52]:
## union with multiple sets 
set_a = {1,2,3,4}
set_b = {3,4,5,6}
set_c = {7,8}

result = set_a | set_b | set_c 
print(result)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
abishek_hobbies = {"reading", "gaming", "cooking"}
manasa_hobbies = {"gaming", "painting", "dancing"}

all_hobbies = abishek_hobbies | manasa_hobbies

print(all_hobbies)

{'cooking', 'painting', 'gaming', 'dancing', 'reading'}

### Intersection - common items only 

symbol = & 

method = intersection()

Return only items that exist in both sets.

In [57]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

type(set_a)

set

In [55]:
# using & operator 

set_a & set_b

{3, 4}

In [56]:
# using intersection() method 

set_a.intersection(set_b)

{3, 4}

#### Difference - Items in first set but not second 

symbol = -

method = difference()

Returns items in the first set that are NOT in the second set.

In [58]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

# Using - operator 
result = set_a - set_b 
print(result)

{1, 2}

In [59]:
result = set_b - set_a
print(result)

{5, 6}

### Symmetric difference - Item in Either set but NOT both 

symbol = ^ 
method = symmetric_difference()

Return items that are in either set, bot not in both

In [60]:
set_a = {1,2,3,4}
set_b = {3,4,5,6}

In [61]:
# using ^ operator 

result = set_a ^ set_b
print(result)

{1, 2, 5, 6}

In [62]:
# using method 
result = set_a.symmetric_difference(set_b)
print(result)

{1, 2, 5, 6}

## set comparison operations 


Subset - Is every item of set_a in set_b?

In [63]:
set_a = {1,2,3}
set_b = {1,2,3,4,5}

In [65]:
# check if set_a is a subset of set_b

print(set_a.issubset(set_b))
print(set_a <= set_b)

True
True

In [66]:
#  Disjoint - Do sets have No common elements?  

set_a = {1,2,3}
set_b = {4,5,6}
set_c = {3,4,5}

In [67]:
# chect if sets have no common elements 
print(set_a.isdisjoint(set_b))      # no common elements 
print(set_a.isdisjoint(set_c))      # 3 is common

True
False

- in regular set you can make changes such as adding and removing elemets 

### Frozen sets - Immutable sets. 

A Fronzenset is like a regular set, but you cannot change it after creation (immutable)

In [68]:
### creating a frozenset 

frozen = frozenset([1,2,3,4,5,1,2,3])
print(frozen)

frozenset({1, 2, 3, 4, 5})

In [69]:
# you cnnot modify it 
frozen.add(6)

AttributeError: 'frozenset' object has no attribute 'add'

In [71]:
frozen.remove(1)

AttributeError: 'frozenset' object has no attribute 'remove'

In [73]:
## but you can perform operations that return new frozensets 

frozen2 = frozenset([4,5,6,7])
result = frozen | frozen2
print(result)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [ ]:
# this can be used as dictionary keys (regular sets cannot!)

{key(set, frozenset) : value}

## Complete Set Methods Reference (Python)

| Method | Description | Example |
|--------|-------------|---------|
| `add(item)` | Adds one item to the set | `s.add(5)` |
| `update(items)` | Adds multiple items | `s.update([5, 6, 7])` |
| `remove(item)` | Removes item (error if not found) | `s.remove(5)` |
| `discard(item)` | Removes item (no error) | `s.discard(5)` |
| `pop()` | Removes random item | `s.pop()` |
| `clear()` | Removes all items | `s.clear()` |
| `copy()` | Returns shallow copy | `s2 = s.copy()` |
| `union(other)` | Returns union | `s1.union(s2)` |
| `intersection(other)` | Returns intersection | `s1.intersection(s2)` |
| `difference(other)` | Returns difference | `s1.difference(s2)` |
| `symmetric_difference(other)` | Returns symmetric difference | `s1.symmetric_difference(s2)` |
| `update(other)` | Adds items from other | `s1.update(s2)` |
| `intersection_update(other)` | Keeps only common items | `s1.intersection_update(s2)` |
| `difference_update(other)` | Removes common items | `s1.difference_update(s2)` |
| `symmetric_difference_update(other)` | Keeps only non-common items | `s1.symmetric_difference_update(s2)` |
| `issubset(other)` | Checks if subset | `s1.issubset(s2)` |
| `issuperset(other)` | Checks if superset | `s1.issuperset(s2)` |
| `isdisjoint(other)` | Checks if no common items | `s1.isdisjoint(s2)` |